* {
  margin:0px;
  padding:0px;
    box-sizing: border-box;
  }

  .form_color{
      background-color: #0a3d62;
  }

 

  h1.titre_cr{
    font-weight: bold;
    font-size:18px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  h3.titre_cr{
    font-size:16px;
   font-style:italic;
   font-weight: bold;
  }

  h3.titre_conclusion{
    font-size:16px;
    font-weight: bold;
  }

  .text_cr{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:16px;
  }

  
  .copyText {
    position:relative;
    padding:10px;
    background:#fff;
    border:0px solid #ddd;
    border-radius:10px;
    display:flex;
    justify-content: center;
  }
 

  .tooltip{
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility:hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index:1;
    top:-30px;
    right:-10px;
    margin-left: -75%;
    opacity: 1
  }

  .tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    bottom:-10px;
    right:45px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

  }

  .tooltip button {
   
    padding:10px;
    height: 32px;
    width: 32px;
    display:flex;
    justify-content: center;
    background:#808286;
    color:#fff;
    font-size:18px;
    border:none;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    } 



   .copyText button {
   
  padding:10px;
  height: 32px;
  width: 32px;
  display:flex;
  justify-content: center;
  background:#808286;
  color:#fff;
  font-size:18px;
  border:none;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  } 

  .copyText button:hover {
    background:#636466;

  }

  .copyText button:before {
    content:"Copied";
    position:absolute; 
    top:-45px;
    right:0px;
    background:#5c81dc;
    padding:8px 10px;
    border-radius:20px;
    font-size:15px;
    display:block;   
    opacity: 0; 
  }
  .copyText button:after {
  content:"";
  position:absolute;
  top:-15px;
  right:25px;
  width:10px;
  height:10px;
  background:#5c81dc;
  transform:rotate(45deg);
  display:block;   
  opacity: 0; 
  }
 
  .copyText:active button:before,
.copyText:active button:after {
  display:block;
  /* transition: opacity 500ms ease-out; */
  opacity: 1;

   
}

.copyText2 {
  position:relative;
  padding:15px;
  background:#fff;
  border:0px solid #ddd;
  border-radius:10px;
  display:flex;
  justify-content: center;
}

.box {
  /* position:relative; */
  padding:10px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  /* display:flex; */
  /* justify-content: center; */
}